* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-ctn {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border: 2px solid black;
}
.div1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1/-1;
  grid-column: 1 / 2;
  grid-gap: 10px 10px;
  border: 2px solid black;
}
.subdiv1 {
  background-color: blue;
  grid-row: 1/2;
  grid-column: 1/2;
  border: 2px solid black;
}
.subdiv2 {
  background-color: chartreuse;
  grid-row: 1/2;
  grid-column: 2/3;
  border: 2px solid black;
}
.subdiv3 {
  background-color: chocolate;
  grid-row: 1/2;
  grid-column: 3/4;
  border: 2px solid black;
}
.subdiv4 {
  background-color: cornflowerblue;
  grid-row: 2/-1;
  grid-column: 1/-1;
  border: 2px solid black;
}
.div2 {
  background-color: aqua;
  grid-row: 1/2;
  grid-column: 2/3;
  border: 2px solid black;
}
.div3 {
  background-color: blueviolet;
  grid-row: 1/2;
  grid-column: 3/4;
  border: 2px solid black;
}
.div4 {
  background-color: brown;
  grid-row: 2/3;
  grid-column: 2/4;
  border: 2px solid black;
}
