.main_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bookingboxs {
  width: 900px;
  height: 400px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 250px;
  left: 220px;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}
.leftimg {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin-bottom: 50px;
}
.leftname {
  position: relative;
  bottom: 50px;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.righttitle {
  font-size: 40px;
}
.rightdate {
  width: 50%;
  height: 30px;
  border-radius: 5px;
}
.right_btn {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  background-color: orange;
}
.crossicontop {
  font-size: 60px;
  color: greenyellow;
  position: relative;
  bottom: 165px;
  left: 840px;
}
