* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div1 {
  background-color: blue;
  padding: 40px;
  margin: 20px;
}
.div2 {
  background-color: rgb(255, 0, 60);
  padding: 40px;
  margin: 20px;
}
.div3 {
  background-color: rgb(0, 255, 4);
  padding: 40px;
  margin: 20px;
}
.link1 {
  padding: 40px;
  margin: 20px;
}
.img1 {
  margin: 20px;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}
.img2 {
  margin: 20px;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}
.img3 {
  margin: 20px;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}
table {
  width: 100px;
  height: 70px;
  border: 2px solid black;
  margin: 50px;
}
