.item_wrapper {
  width: 65vw;
  height: 8vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.message {
  background-color: aqua;
}
.bookingAppointment {
  color: #f2f2f2;
  background-color: blue;
}
