.div1 {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: red;
  margin-top: 100px;
  margin-left: 100px;
}
.div2 {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: green;
  position: relative;
  bottom: 247px;
  left: 154px;
}
